<a href="https://colab.research.google.com/github/Himanshi143/Machine-Learning-By-Campusx/blob/main/Day-27/day_27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('/content/cars.csv')
df.sample(5)

        brand  km_driven    fuel                 owner  selling_price
5885   Maruti     110000  Petrol  Fourth & Above Owner         122000
4659  Hyundai       5000  Petrol           First Owner         509999
3379   Maruti      50000  Petrol           First Owner         400000
1095    Volvo       2000  Diesel           First Owner        2475000
7685     Tata     100000  Diesel          Second Owner         215000

In [ ]:
df['brand'].value_counts(sort=True)

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [11]:
pd.get_dummies(df,columns=['fuel','owner'],dtype=int)

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,0,1,0,0,1,0,0,0,0
1,Skoda,120000,370000,0,1,0,0,0,0,1,0,0
2,Honda,140000,158000,0,0,0,1,0,0,0,0,1
3,Hyundai,127000,225000,0,1,0,0,1,0,0,0,0
4,Maruti,120000,130000,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,0,1,1,0,0,0,0
8124,Hyundai,119000,135000,0,1,0,0,0,1,0,0,0
8125,Maruti,120000,382000,0,1,0,0,1,0,0,0,0
8126,Tata,25000,290000,0,1,0,0,1,0,0,0,0
8127,Tata,25000,290000,0,1,0,0,1,0,0,0,0

In [12]:
pd.get_dummies(df,columns=['fuel','owner'],dtype=int,drop_first=True)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,1,0,0,0,0,0,0
1,Skoda,120000,370000,1,0,0,0,1,0,0
2,Honda,140000,158000,0,0,1,0,0,0,1
3,Hyundai,127000,225000,1,0,0,0,0,0,0
4,Maruti,120000,130000,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,1,0,0,0,0
8124,Hyundai,119000,135000,1,0,0,1,0,0,0
8125,Maruti,120000,382000,1,0,0,0,0,0,0
8126,Tata,25000,290000,1,0,0,0,0,0,0
8127,Tata,25000,290000,1,0,0,0,0,0,0

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop('selling_price',axis=1),df['selling_price'],test_size=0.2)

In [17]:
X_train

        brand  km_driven    fuel         owner
1059    Honda      54000  Petrol   First Owner
5390   Maruti      80000  Diesel  Second Owner
5268   Maruti      25000  Diesel   First Owner
3877   Nissan      21500  Petrol   First Owner
7041   Maruti      13500  Petrol   First Owner
...       ...        ...     ...           ...
3930     Ford     100000  Diesel  Second Owner
3664  Hyundai      70000  Petrol  Second Owner
7690   Maruti      60000  Diesel   First Owner
2370     Ford      33360  Diesel   First Owner
2058   Maruti      50000  Petrol   First Owner

[6502 rows x 4 columns]

In [18]:
from sklearn.preprocessing import OneHotEncoder

In [30]:
ohe=OneHotEncoder(drop='first',dtype=int)

In [31]:
x_train_new=ohe.fit_transform(X_train[['fuel','owner']]).toarray()

In [32]:
x_test_new=ohe.transform(X_test[['fuel','owner']]).toarray()

In [33]:
np.hstack((X_train[['brand','km_driven']].values,x_train_new))

array([['Honda', 54000, 0, ..., 0, 0, 0],
       ['Maruti', 80000, 1, ..., 1, 0, 0],
       ['Maruti', 25000, 1, ..., 0, 0, 0],
       ...,
       ['Maruti', 60000, 1, ..., 0, 0, 0],
       ['Ford', 33360, 1, ..., 0, 0, 0],
       ['Maruti', 50000, 0, ..., 0, 0, 0]], dtype=object)

One hot encoder with brand

In [35]:
c=df['brand'].value_counts()
c

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [36]:
repl=c[c<=100].index

In [ ]:
pd.get_dummies(df['brand'].replace(repl,'uncommon'),dtype=int).sample(10)